h1 {
    color:chocolate;
    background-color: antiquewhite;
    text-align: center;
}
#zona{
    text-align-last: center;

}

/* #selcc{
    text-align: center;
    
}
#abi{
    text-align: center;
}
#boto{
    text-align: center;
}  */
.cent{
    text-align: center;
}