*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    background-color: aqua;
}
header{
    grid-column: 2/3;
    
}