*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
}
main{
    font-size: 64px;
    grid-column: 2/3;
    
}