*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color:rgba(228, 224, 195, 0.192);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contenedor img {
    width:1400px;
    height:1100px;
    opacity: 0.3;
    position: relative;
    z-index: -1; 
    position: fixed;

}
.molecula img {
    position: absolute;
    width: 150px;
    height: 300px;
    right: 120px;
    top: 400px;
    border-radius: 15px;
}

header{

    background-image: url(./recursos/imagenes/agua.jpg);
    background-size:cover;
    background-position: bottom;
    height: 300px;
    text-align: center;
    position: relative;

}
nav{
    background-color: white;
    padding-top: 2px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: rgba(240, 255, 255, 0);
    position:relative;
    position:fixed;
    left: 10vh;
    top: 150px;

}
nav h2{
    background-color: rgba(240, 248, 255, 0);
}

a{
    margin-top: 25px;
    margin: 10px;
    color: black;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    background-color: rgba(245, 245, 220, 0);
}
a:hover{
    color: rgb(29, 58, 223);
    
}
.seccion{
    
    width: 800px;
    margin: auto;
    margin-left: auto;
    margin-bottom: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    line-height: 2em;
    
}
.encab{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 32px;
    background-color: rgba(255, 228, 196, 0);
}
.link{
    margin-top: 50px;
    text-align: center;
    color: black;
    margin-bottom: 50px;
}
h2{
    font-size: 24px;
    color: black;
}
.titu{
    font-size: 34px;
    font-weight:999;
    background-color:rgba(255, 255, 255, 0) ;
}
.titu h1{
    padding-top: 60px;
    background-color: rgba(255, 235, 205, 0);
}
.parr{
    background-color: rgba(240, 255, 255, 0);
    padding: 50px;
}