*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
    background-color: blueviolet;
    text-align: center;
    font-size: 32px;
    color:black;
    font-weight: 900;
}
nav{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: blueviolet;

}
div{
    width: 45px;
    background-color: violet;
    opacity: 0.4;
    margin: 0 auto;
}
